@font-face {
  font-family: "font_1";
  src: url(./fonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: "font_2";
  src: url(./fonts/Merriweather-Italic.ttf);
}

body {
  font-family: "font_2", serif;
  font-size: 0.7rem;
  background: url(./images/bg.jpg) center/cover fixed;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  width: 80%;
  min-width: 320px;
}

nav {
  background: rgba(245, 245, 245, 0.185);
  color: white;
  font-family: "font_1", sans-serif;
  height: 60px;
}

header {
  color: white;
  margin: 0 auto -60px;
  height: 100vh;
  width: 60%;
  min-height: 445px;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  min-width: 333px;
}

header p {
  font-size: 1rem;
}

h1,
h2,
footer,
h1 {
  font-family: "font_1", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 1.8rem;
  padding: 0 14%;
  line-height: 2rem;
}

header i {
  font-size: 2.2rem;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav {
  height: 60px;
}

ul {
  height: 100%;
}

li {
  list-style-type: none;
  height: 100%;
}

a {
  text-decoration: none;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  text-decoration: none;
  color: white;
}

nav ul a:hover {
  transition: 0.8s;
  background: white;
  color: black;
  border-radius: 0 8px 0 0;
}

#icons i:hover {
  transition: 0.8s;
  background: white;
  color: black;
  border-radius: 50%;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

i {
  padding: 10px;
}

i.fab:nth-child(2),
i.fab:nth-child(3),
i.fab:nth-child(4),
i.fa-facebook-f:nth-child(1),
i.fa-instagram:nth-child(1),
i.fa-github:nth-child(1) {
  width: 11.2px;
}
/* *************************************MAIN************************************ */
main {
  background: white;
}

.img_container {
  overflow: hidden;
  margin: 0 auto;
}

img {
  transition: 0.5s;
}

img:hover {
  transform: scale(1.1);
}

main > a {
  position: relative;
}

.content_1 .date::before {
  content: "";
  position: absolute;
  background: rgb(233, 225, 225);
  height: 1px;
  width: 35%;
  left: 0;
  top: 50%;
}

.content_1 .date::after {
  content: "";
  position: absolute;
  background: rgb(233, 225, 225);
  height: 1px;
  width: 35%;
  right: 0;
  top: 50%;
}

.date {
  position: relative;
  color: rgb(190, 176, 176);
}

.content_1 {
  padding: 40px 0;
  margin: 0 10%;
}

.content_1 img {
  width: 100%;
}

.content_1 .article {
  margin: 20px 30%;
}

.content_2,
.content_3 {
  background: white;
  padding: 20px 7% 30px;
  border-top: 2px solid rgb(241, 236, 236);
}

.content_3 {
  border-left: 2px solid rgb(241, 236, 236);
}

p {
  line-height: 1.6rem;
}

.two_articles {
  display: flex;
  align-items: center;
}

.two_articles img {
  width: 100%;
}

.two_articles h2 {
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.story {
  display: grid;
  align-content: center;
  font-family: "font_1", serif;
  color: black;
  border: 1px solid rgb(70, 55, 55);
  margin: 20px auto;
  width: 30%;
  height: 25px;
  transition: 0.3s;
}

.story:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 5px 3px rgba(150, 141, 156, 0.2);
  border: 1px solid rgb(184, 169, 169);
  border-radius: 3px;
  margin: 20px auto;
}
/* ***********************************FOOTER************************************************ */
footer {
  min-height: 380px;
  background: white;
  color: rgb(158, 147, 147);
  margin: 8px 0 40px 0;
  letter-spacing: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form contact";
}

form {
  grid-area: form;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 10%;
  border-right: 2px solid rgb(241, 236, 236);
}

form div {
  margin: 10px 0;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "address"
    "phone"
    "email_2"
    "social";
}

#address {
  grid-area: address;
}

#phone {
  grid-area: phone;
}

#email_2 {
  grid-area: email_2;
}

#social {
  grid-area: social;
}

input,
textarea {
  width: 100%;
  height: 25px;
  border: 1px solid rgb(158, 147, 147);
  border-radius: 3px;
}

textarea {
  height: 90px;
  resize: none;
}

input[type="submit"] {
  width: 40%;
  transition: 0.4s;
}

input[type="submit"]:hover {
  transform: scale(1.1);
  background: rgb(253, 175, 73);
  color: white;
}

[placeholder],
input[value] {
  font-family: "font_1", sans-serif;
  color: rgb(158, 147, 147);
}

[placeholder] {
  font-size: 0.7rem;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid rgb(158, 147, 147);
  border-radius: 2px;
  box-shadow: 0px 4px 5px 3px rgba(150, 141, 156, 0.2);
}

input:hover,
textarea:hover {
  border: 1px solid rgb(158, 147, 147);
  border-radius: 3px;
  box-shadow: 0px 4px 5px 3px rgba(150, 141, 156, 0.2);
}

label {
  display: block;
}

.infos {
  color: rgb(190, 176, 176);
  text-transform: lowercase;
}

#email_2 a {
  text-decoration: none;
}

#address,
#phone,
#email_2,
#social {
  display: grid;
  align-items: center;
  justify-items: left;
  grid-template-columns: 30% 70%;
  padding: 0 10%;
}

#address,
#phone,
#email_2 {
  border-bottom: 2px solid rgb(241, 236, 236);
}

#social_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

footer i {
  color: rgb(158, 147, 147);
  height: 50%;
  padding-right: 10px;
  border: 1px solid rgb(158, 147, 147);
  border-radius: 50%;
}

footer i:hover {
  background-color: rgb(158, 147, 147);
  color: white;
  transition: 0.4s;
}
/* *******************************RESPONSIVE******************************* */
@media screen and (max-width: 888px) {
  .content_1 h2,
  .content_1 .article {
    padding: 20px 10%;
    margin: 0;
  }

  .story {
    width: 73px;
    height: 27px;
  }

  input[type="submit"] {
    width: 110px;
    height: 22px;
  }
}

@media screen and (max-width: 690px) {
  .content_1 {
    padding: 40px 7%;
    margin: 0;
  }

  .two_articles {
    flex-direction: column;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "form" "contact";
  }

  .header_container {
    min-width: 240px;
  }

  .contact {
    border-top: 2px solid rgb(241, 236, 236);
    margin: 4% 0;
  }
}

@media screen and (max-height: 667px) {
  .header_container {
    height: 80%;
  }
}

@media screen and (max-width: 575px) {
  header {
    margin: 0 0 -80px;
    width: 100%;
  }

  h1 {
    font-size: 2.8rem;
  }

  nav {
    flex-direction: column;
    height: 80px;
  }

  nav ul {
    border-bottom: 1px solid white;
  }
}
